.card--section {
  width: 29.375em;

  align-items: center;
  margin-top: 3em;
}

.card--section,
.card--location_container {
  display: flex;
}

.card--img {
  width: 7.812em;
  height: 10.5em;
  object-fit: cover;
  border-radius: 6px;
}

.card-info_container {
  text-align: left;
  margin-left: 1em;
}

.card--location_container {
  align-items: center;
  gap: 0.5em;
}

.card--location,
.card--location_link,
.card--date,
.card--description {
  font-size: 0.64rem;
}

.card--location {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

.card--icon {
  color: #f55a5a;
  margin-right: 0.2em;
}

.card--location_link {
  color: #918e9b;
}

.card-dcountry,
.card--date,
.card--description {
  color: #2b283a;
}

.card-dcountry,
.card--date {
  font-weight: 700;
}

.card-dcountry {
  font-size: 1.562rem;
  margin: 0.2em 0 0.5em 0;
}

.card--date {
  margin: 0 0 0.8em 0;
}

.card--description {
  text-align: left;
  line-height: 1.5;
  margin: 0;
  max-width: 29em;
}
