.card--section {
  width: 470px;
  display: flex;
  align-items: center;
  margin-top: 3em;
}

.card--img {
  width: 125px;
  height: 168px;
  object-fit: cover;
  border-radius: 6px;
}

.card-info_container {
  text-align: left;
  margin-left: 1em;
}

.card--location_container {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.card--location {
  font-size: 10.24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

.card--icon {
  color: #f55a5a;
  margin-right: 0.2em;
}

.card--location_link {
  color: #918e9b;
  font-size: 10.24px;
}

.card-dcountry {
  color: #2b283a;
  font-size: 25px;
  font-weight: 700;
  margin: 0.2em 0 0.5em 0;
}

.card--date {
  color: #2b283a;
  font-size: 10.24px;
  font-weight: 700;
  /* margin: 0 0 0.8em 0; */
}

.card--description {
  color: #2b283a;
  font-size: 10.24px;
  text-align: left;
  line-height: 1.5;
  margin: 0;
  max-width: 326px;
}
