.navbar--container {
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3em;
  background-color: #f55a5a;
  padding: 0.5em;
}

.navbar--icon {
  font-size: 1rem;
  color: #fff;
}

.navbar--heading {
  font-size: 14.46px;
  font-weight: 500;
  letter-spacing: -0.3px;
  color: #fff;
}
